@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
    font-family: 'Noto Sans JP' , sans-serif;
    background-color: #f7f8f8;
    font-family: 'Noto Sans JP' , sans-serif;
    font-weight: 300;
    text-decoration: none;
    background-color: #ffffff00;
  }

h1 {
    font-size: 30px;
    font-weight: 900;
  }

button {
    background: linear-gradient(to right, #00B0F0, #7030A0);
    border: none;
    border-radius: 5px; /* 角をもう少し角ばらせる */
    box-shadow: 0px 0px 3px 0px rgba(100,100,100);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* マウスオーバー時の動きを滑らかにする */
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  button::before, button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid rgba(255, 255, 255, 0.2); /* 三角のサイズを大きくし、透明度を若干濃くする */
    border-bottom: 30px solid transparent;
  }
  
  button::before {
    top: 0;
    left: 0;
  }
  
  button::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
  
  button:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
  }
  
  button:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
  }

button:focus {
  outline: none;
  }

a:focus {
  outline: none;
  }

  /* ボタンやリンクの青いハイライトを消す */
button, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Safari */
  -webkit-focus-ring-color: rgba(0, 0, 0, 0); /* Chrome */
  outline: none; /* その他のブラウザ */
  }

  
  #bodybg {
    background-color: #fff;
  }

  a {
    font-size:160px;
  }

/* スマホ対応 */
@media (max-width: 500px) {
  h1 {
    font-size: 100px;
    text-align: center;
  }
}