@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}


.toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.toolbar button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #c9c9c9;
}
.toolbar img {
    width: 20px;
    margin-top: 4px;
}
table {
    width: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(211, 211, 211);
    padding: 0px 10px;
}